In [1]:
import numpy as np
import pandas as pd

In [76]:
data = pd.read_csv('data/raw_data.csv')

In [77]:
# Split into 15 sections
num_splits = 15

split_indexes = np.linspace(0, len(data) - len(data) % num_splits, num_splits + 1, dtype=np.int)

split_data = []

for i in range(0, 15):
    split_data += [data[split_indexes[i] : split_indexes[i+1]]]

In [78]:
# Take the moving average
mva_split_data = []
periods = [1, 10, 30, 45]

for period in periods:
    for d in split_data:
        mva_split_data += [ pd.DataFrame(d).rolling(window=period).mean() ]

In [79]:
# Convert to dataframe
columns = []

for period in [1, 10, 30, 45]:
    for i, d in enumerate(split_data):
        columns += ['window_' + str(period) + '_' + str(i)]

data_table = pd.DataFrame(data=np.hstack(mva_split_data), columns=columns)

# Remove the MVA nans
data_table = data_table.iloc[max(periods):]

In [82]:
# Check for nan
pd.isna(data_table).any().any()

False

In [83]:
data_table.head()

,window_1_0,window_1_1,window_1_2,window_1_3,window_1_4,window_1_5,window_1_6,window_1_7,window_1_8,window_1_9,...,window_45_5,window_45_6,window_45_7,window_45_8,window_45_9,window_45_10,window_45_11,window_45_12,window_45_13,window_45_14
45,35.753,-50.150,-207.49,-348.46,42.9730,64.552,-533.22,-815.83,500.57,375.89,...,-300.350222,-722.747333,-1017.973556,485.273333,370.017333,102.687462,-297.908667,10.567454,-167.839778,-302.789778
46,35.679,-50.068,-206.97,-348.25,31.8520,53.231,-531.66,-778.09,508.79,383.36,...,-281.922644,-716.283778,-1008.924444,486.489556,370.018667,101.470351,-302.439111,10.204683,-167.958667,-302.839111
47,35.606,-50.000,-206.44,-348.05,23.0530,4.447,-532.37,-711.58,522.88,374.25,...,-264.663156,-709.980444,-998.021778,488.370444,369.892000,96.755907,-307.139556,9.803768,-168.078000,-302.889333
48,35.532,-49.932,-205.92,-347.84,14.8180,-20.419,-528.97,-705.93,518.79,377.36,...,-247.865800,-703.967111,-986.409111,489.982444,370.060000,91.858796,-311.770889,9.369383,-168.197778,-302.940667
49,35.458,-49.864,-205.39,-347.64,6.2051,-235.820,-485.27,-712.08,520.02,371.56,...,-235.939800,-697.168000,-974.977556,491.563111,370.115111,83.167107,-316.321111,8.890092,-168.317778,-302.992667

In [89]:
# Save data
data_table.to_csv('data/filter_data.csv', index=False)